
#divheader{


	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 1000px;
	background-color: Turquoise;


}

#divmain{

		position: absolute;
		top: 100px;
		left: 0;
		height: 500px;
		width: 1000px;
		clip: auto ;
		overflow: hidden;

}


#divfooter{

	
	position: absolute;
	top: 600px;
	left: 0;
	height: 100px;
	width: 1000px;
	background-color: Turquoise;



}


#dialog{

	position: absolute;
	top: 200px;
	left: 350px;

	width: 300px;
	height: 200px;

	background-color: Turquoise;
	border-radius: 5px;

}

#dialog{

	text-align: center;

}

#divbutton{

	position: absolute;
	width: 100px;
	height: 50px;

	left: 100px;
	top: 100px;

	background-color: #5F9EA0;
	border-radius: 5px;
	box-shadow: 1px 1px 0 0 #5F9EFF;
	font-variant: small-caps;
	cursor: pointer;
}


#divbutton:hover{

	background-color: #5F9EAF;
}

#divbutton:active{
	box-shadow: 0 0 0 0 transparent;


}	


#gamefield{
	position: absolute;

	

	height: 500px;
	width: 700px;
	left: 150px;
	top: 0;
}